{% extends 'djfrontend/base.html' %}
{% load djfrontend %}
{% load staticfiles %}

{% block title %}
    Data Observertory Test Bench
{% endblock title %}

{% block head_css %}
    {% block djfrontend_h5bp_css %}
    {% endblock djfrontend_h5bp_css %}
        
    {% block djfrontend_twbs_css %}
        {% djfrontend_twbs_css %}
        {% djfrontend_twbs_theme_css  %}
    {% endblock djfrontend_twbs_css %}

    <link href="{% static "style.css" %}" rel="stylesheet">
    <link href="{% static "plugins/morris.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
{% endblock head_css %}

{% block body_js %}
    {% block djfrontend_jquery %}
        {% djfrontend_jquery %}
    {% endblock djfrontend_jquery %}
        
    {% block djfrontend_twbs_js %}
        {% djfrontend_twbs_js %}
    {% endblock djfrontend_twbs_js %}
        
    {% block djfrontend_ga %}
    {% endblock djfrontend_ga %}
        
    {% block djfrontend_ios_fix %}
    {% endblock djfrontend_ios_fix %}

    <script src="{% static "js/base.js" %}"></script>
    <script src="{% static "js/plugins/morris/raphael.min.js" %}"></script>
    <script src="{% static "js/plugins/morris/morris.min.js" %}"></script>
    <script src="{% static "js/plugins/morris/morris-data.js" %}"></script>

{% endblock body_js %}

{% block body_content %}

    <div id="wrapper">

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="/index/index/">Data Observertory Test Bench</a>
            </div>
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/index/dryrun/">Dry Run Test</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/index/index/">SingleElement Page</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/index/test/" id="testUrl" onclick="updateUrl()">Test Page</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/index/configure/" id="configureUrl">Configure Page</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/index/multielements/" id="multiUrl">MultiElements Result</a></li>
            </ul>
             <ul class="nav navbar-nav navbar-left">
                <li><a href="/index/visualization/" id="visualUrl">Visualization</a></li>
            </ul>
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Data Observatory <small>Single Element Overview</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                        </ol>
                    </div>
                </div>
               <!-- 
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group" id="inputForms">
                            <label for="country">Country:</label>
                            <input type="text" class="form-control" id="country" value="germany"></input>
                            <label for="gender">Gender:</label>
                            <input type="text" class="form-control" id="gender" value="male"></input>
                        </div>
                    </div>
                </div>
                -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading col-lg-12">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Chart</h3>
                            </div>
                           <div class="fullrow">
                               <div id="line-chart" style="height:400px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="col-lg-12" id="prob_menu">
                    <ul class="nav nav-pills nav-justified">
                        <li class="active" id="allChart"><a href="#">All</a></li>
                        <!--
                        <li><a href="#">Menu 1</a></li>
                        <li><a href="#">Menu 2</a></li>
                        <li><a href="#">Menu 3</a></li>
                        -->
                    </ul>
                    <!--
                    <button type="button" class="btn btn-primary" onclick="loadDoc()">Update Chart</button>
                    <button type="button" class="btn btn-success">Run Test</button>
                    -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>

{% endblock body_content %}
