{% extends 'djfrontend/base.html' %}
{% load djfrontend %}
{% load staticfiles %}

{% block title %}
    Data Observertory Test Bench
{% endblock title %}

{% block head_css %}
    {% block djfrontend_h5bp_css %}
    {% endblock djfrontend_h5bp_css %}
        
    {% block djfrontend_twbs_css %}
        {% djfrontend_twbs_css %}
        {% djfrontend_twbs_theme_css  %}
    {% endblock djfrontend_twbs_css %}

    <link href="{% static "style.css" %}" rel="stylesheet">
    <link href="{% static "plugins/morris.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
{% endblock head_css %}

{% block body_js %}
    {% block djfrontend_jquery %}
        {% djfrontend_jquery %}
    {% endblock djfrontend_jquery %}
        
    {% block djfrontend_twbs_js %}
        {% djfrontend_twbs_js %}
    {% endblock djfrontend_twbs_js %}
        
    {% block djfrontend_ga %}
    {% endblock djfrontend_ga %}
        
    {% block djfrontend_ios_fix %}
    {% endblock djfrontend_ios_fix %}

    <script src="{% static "js/base.js" %}"></script>
    <script src="{% static "js/plugins/morris/raphael.min.js" %}"></script>
    <script src="{% static "js/plugins/morris/morris.min.js" %}"></script>
    <script src="{% static "js/plugins/morris/morris-data.js" %}"></script>

{% endblock body_js %}

{% block body_content %}

    <div id="wrapper">

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="/index/index/">Data Observertory Test Bench</a>
            </div>
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/index/test/" id="testUrl" onclick="updateUrl()">Test Page</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/index/configure/" id="configureUrl">Configure Page</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/index/multielements/" id="multiUrl">MultiElements Result</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/index/visualization/" id="visualUrl">Visualization</a></li>
            </ul>

        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Data Observatory <small>Configuration</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                        </ol>
                    </div>
                </div>

    <form role="form">
        <div class="form-group">
          <label for="config_json">config.json:</label>
          <textarea class="form-control" rows="15" id="config_json">
        {
        "country":{
            "germany":{
                "0.9":"German",
                "0.1":"Default"
                },
            "india":{
                "0.9":"Indian",
                "0.1":"Default"
                }
            }
        }
        </textarea>
        </div>
        
        <div class="form-group">
            <label for="config_sites">site_links:</label>
            <textarea class="form-control" rows="3" id="config_sites">
                http://localhost:8000/index/test/?country=india&gender=male, http://localhost:8000/index/test/?country=germany&gender=male
            </textarea>
        </div>
        
        <div class="form-group">
            <label for="openwpm_dir">OpenWPM_base_directory:</label>
            <input type="text" class="form-control" id="openwpm_dir">
        </div>

        <div class="form-group">
            <label for="db_dir">DataObservatory_base_directory:</label>
            <input type="text" class="form-control" id="db_dir">
        </div>

    
        <div class="form-group">
            <label for="iter">iterations:</label>
            <input type="text" class="form-control" id="iter" value="1">
        </div>
        
        <div class="form-group">
            <label for="num_browser">number_browsers</label>
            <input type="text" class="form-control" id="num_browser" value="1">
        </div>

        <div class="form-group">
            <label for="file_name">file_name</label>
            <input type="text" class="form-control" id="file_name" value="prob_0.1">
        </div>


    </form>
        
    <div class="row">
        <div class="col-lg-12 col-lg-offset-0">
            <button type="button" class="btn btn-primary" onclick="updateConfiguration()">Configure</button>
            <button type="button" onclick="location.href = '/index/index';" id="myButton" class="btn btn-primary" >Return to Dashboard</button>
        </div>
    </div>

           </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>

{% endblock body_content %}
